@import '../../assets/scss/base';
@import '../../assets/scss/common';

.container-fluid {
  background: $blue;

  .logo-container {
    a {
      color: $white;
      @include fontSize(30px);
    }
  }
  .search-container {
    position: relative;
    display: flex;
    height: 90px;

    .search-input {
      padding: 10px 35px 10px 85px;
      color: #3f536e;
      border: 1px solid #c5d9e8;
      margin: auto;
    }
    select {
      position: absolute;
      z-index: 1;
      border: 0!important;
      color: #339CDD;
      font-weight: 600;
      font-size: 14px;
      margin: auto;
    }
    .ion-ios-search {
      position: absolute;
      top: 7px;
      right: 10px;
      font-weight: 600;
      color: $blue;
      margin: auto;
      @include fontSize(30px);
    }
  }
  .menu-container {
    li:nth-child(1) {
      float: left;
      display: inline;
      text-align: right;
      padding: 10px;
    }
    li:nth-child(2) {
      border-right: 1px solid $white;
      border-left: 1px solid $white;
      width: 50px;
      display: inline;
      float: left;
      padding: 15px 0;
      cursor: pointer;
    }
    li:nth-child(3) {
      padding: 15px 0;
      cursor: pointer;
    }
  }
}


.welcome-msg,
.access-link {
  color: $white;
  text-align: right;
}
.access-link {
  font-weight: 600;
}
i {
  font-size: 27px;
}
.ion-ios-cart-outline,
.ion-ios-person {
  color: $white;
}
