@import '../../assets/scss/base';
@import '../../assets/scss/common';

.container-fluid {
  background: $blue;

  .box {
    &__header {
      &__logo {
        line-height: 0;
        margin-right: 60px;

        a {
          color: $white;
          font-weight: $weight-bold;
          @include fontSize(30px);
        }
      }
      &__search {
        position: relative;
        margin: 20px 0;
        height: 39px;

        .search-input {
          padding: 10px 35px 10px 85px;
          color: #3f536e;
          border: 1px solid #c5d9e8;
          margin: auto;
          @include borderRadius(3px);
        }
        select {
          position: absolute;
          z-index: 1;
          border: 0!important;
          color: #339CDD;
          font-weight: 600;
          font-size: 14px;
          margin: auto;
          cursor: pointer;
        }
        .ion-ios-search {
          position: absolute;
          top: 0;
          right: 10px;
          font-weight: 600;
          color: $blue;
          margin: auto;
          @include fontSize(27px);
        }
      }
      &__menu {
        margin: 3px 10px;

        ul {
          margin: 0;

          li {
            margin: 0;

            &:nth-child(1) {
              float: left;
              display: inline;
              text-align: right;
              padding: 10px;
            }
            &:nth-child(2) {
              border-right: 1px solid $white;
              border-left: 1px solid $white;
              width: 50px;
              display: inline;
              float: left;
              padding: 15px 0;
              cursor: pointer;
            }
            &:nth-child(3) {
              display: inline-block;
              width: 50px;
              padding: 15px 0;
              cursor: pointer;
            }
          }
        }
        .welcome-msg,
        .access-link {
          color: $white;
        }
        .access-link {
          font-weight: $weight-bold;
        }
        i {
          font-size: 27px;
        }
        .ion-ios-cart-outline,
        .ion-ios-person {
          color: $white;
        }
      }
    }
  }
}
