@import '../../assets/scss/base';

.block {
  &__product {
    border: 1px solid $light-grey;
    padding: 0;
    margin: 10px 1.3%;
    @include borderRadius(3px);
    @include transition(border 0.5s);

    &:hover {
      border: 1px solid $blue;

      .btn-primary {
        background: $blue;
        color: $white;
      }
    }
    &__img {
      background: $light-grey;
      width: 100%;
      height: 200px;
    }
    &__content {
      padding: 10px;

      &__description {
        span {
          font-size: 20px;
        }
      }
      &__price {
        span {
          font-size: 28px;
        }
      }
      &__actions {
        .btn-primary {
          @include transition(background 0.5s);
        }
      }
    }
  }
}
