@import '../../assets/scss/base';

.box {
  &__section {
    &__title {
      margin: 20px 0;

      h3 {
        border-bottom: 1px solid $medium-grey;
        @include fontSize(23px);
      }
    }
  }
  &__preview {
    &__img {
      background: $light-grey;
      width: 300px;
      height: 250px;
    }
    &__content {
      h2 {
        @include fontSize(25px);
      }
      p {
        @include fontSize(20px);
      }
      &__price {
        @include fontSize(30px);
      }
    }
  }
  &__details {
    margin-top: 20px;

    &__description {
      @include fontSize(18px);
    }
  }
}
